[Unit]
Description=andijonni_obhavosi_bot
After=network.target

[Service]
User=root
WorkingDirectory=/root/apps/bots/andijonni_obhavosi_bot
ExecStart=/root/apps/bots/andijonni_obhavosi_bot/venv/bin/python /root/apps/bots/andijonni_obhavosi_bot/main.py
Restart=always
RestartSec=3
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
