[Unit]
Description=weather_andijan_bot
After=network.target

[Service]
User=root
WorkingDirectory=/root/apps/bots/weather_andijan_bot
ExecStart=/root/apps/bots/weather_andijan_bot/venv/bin/python /root/apps/bots/weather_andijan_bot/main.py
Restart=always
RestartSec=3
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
